<%- include('../partials/header') %>
<header id="pick-two-header">
    <h1 class="pick-two-h1"><%= pageH1 %></h1>
    <p class="small-text"> for $12</p>
</header>

<div class="pick-two-display">
    <div id = "soups-and-salads">
        <div class="soup-section" id="soups">
            <h2 class="pick-two-h2">Sopas : Soups</h2>
            <% dishes.forEach(function(dish){ %>
                <% if(dish.category === 'Soup'){ %>
                    <div class="menu-item">
                        <img src="../../images/plus-burgundy.png" class="add">
                        <h3> <%= dish.name %> </h3>
                        <p class="description"> <%= dish.description %> </p>
                        
                        <% dish.amountAndPrice.forEach(function(aAndP){ %>
                            <form action="">
                                <button class="dish-select"><%= aAndP.amount %>: $<%= aAndP.price %></button>
                            </form>
                        <% }) %>
                        <% dish.addOns.forEach(function(addOn){ %>
                            <form action="">
                                <button class="dish-select add-on"><%= addOn.addOn %> +$<%= addOn.price %></button>
                            </form>
                        <% }) %>
                    </div>
                <% } %>
            <% }) %>
        </div>
    
        <div class="salad-section" id="salads">
            
            <h2 class="pick-two-h2">Ensalades : Salads</h2>
                <% dishes.forEach(function(dish){ %>
                    <% if(dish.category === 'Salad'){ %>
                        <div class="menu-item">
                            <img src="../../images/plus-burgundy.png" class="add">
                            <h3> <%= dish.name %> </h3>
                            <p class="description"> <%= dish.description %> </p>
                            

                            <% dish.addOns.forEach(function(addOn){ %>
                                <form action="">
                                    <button class="dish-select"><%= addOn.addOn %></button>
                                </form>
                            <% }) %>
                            <% dish.amountAndPrice.forEach(function(aAndP){ %>
                                <form action="">
                                    <button class="dish-select"><%= aAndP.amount %>: $<%= aAndP.price %></button>
                                </form>
                            <% }) %>

                        </div>
                    <% } %>
            <% }) %>

        </div>
    </div>
    
    <div class="sandwich-section" id="sandwiches">
            <h2 class="pick-two-h2">Sandwiches</h2>
            <% dishes.forEach(function(dish){ %>
                <% if(dish.category === 'Sandwich'){ %>
                    <div class="menu-item">
                        <img src="../../images/plus-burgundy.png" class="add">
                        <h3> <%= dish.name %> </h3>
                        <p class="description"> <%= dish.description %> </p>

                        <% dish.addOns.forEach(function(addOn){ %>
                            <form action="">
                                <button class="dish-select"><%= addOn.addOn %>: +$<%= addOn.price %></button>
                            </form>
                        <% }) %>
                        <% dish.amountAndPrice.forEach(function(aAndP){ %>
                            <form action="">
                                <button class="dish-select"><%= aAndP.amount %>: $<%= aAndP.price %></button>
                            </form>
                        <% }) %>
                    </div>
                <% } %>
            <% }) %>
    </div>
    
    <%- include('../partials/check') %>
    
</div>

<span class="small-text">
    <h6>Consumer Advisory</h6>
    <p>* Thoroughly cooking foods of animal origin such as beef, eggs, fish, lamb, pork, poultry, or shellfish reduces the risk of foodborne illness. Consult your physician or Public Health official for further information.</p>
</span>



<%- include('../partials/footer') %>
